[toolchain]
anchor_version = "0.32.1"

[features]
seeds = false
skip-lint = false

[programs.localnet]
dca_vault = "DCAvau1tXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
session_keys = "SessioNXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

[programs.devnet]
dca_vault = "Df9BwQfySajVQgbJE4TXCHqy6UxCXKhEAUwXyw3TVK5a"
session_keys = "SessioNXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
